<!DOCTYPE html>
<html>
<head>
    <title>Nutrition Guide</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<nav>
    <a href="/">Home</a>
    <a href="/exercises">Exercise Library</a>
    <a href="/nutrition">Nutrition Guide</a>
    <a href="/about">About</a>
    <a href="/progress">Progress</a>
</nav>
<div class="container">

    <h1>🥗 Nutrition Guide</h1>

    <h2>Protein Sources</h2>
    <ul>
        <li>Eggs</li>
        <li>Chicken</li>
        <li>Fish</li>
        <li>Milk</li>
        <li>Paneer</li>
    </ul>

    <h2>Healthy Carbohydrates</h2>
    <ul>
        <li>Oats</li>
        <li>Brown Rice</li>
        <li>Sweet Potato</li>
        <li>Whole Wheat Bread</li>
    </ul>

    <h2>Vitamins & Minerals</h2>
    <ul>
        <li>Fruits</li>
        <li>Vegetables</li>
        <li>Nuts</li>
        <li>Seeds</li>
    </ul>

    <h2>Daily Nutrition Tips</h2>
    <ul>
        <li>Drink 2–3 liters of water daily.</li>
        <li>Include protein in every meal.</li>
        <li>Eat fruits and vegetables daily.</li>
        <li>Avoid excessive junk food.</li>
    </ul>

    <br>

    <a href="/">
        <button>Back to Home</button>
    </a>

</div>
<footer>
    <p>FitAI © 2026 | Student Innovation Project</p>
</footer>
</body>
</html>